@import '../../../scss/variables';

.nav_main_style {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: $background-color;
	z-index: 1;
	min-width: 20%;
	margin: 0 auto;
	border-radius: 20px;
	border: 2px solid $accent-dark;
}

@import './stylesMedia.module.scss';
